* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
}
.header,
.footer {
    background-color: #1f2937;
}
.quote {
    background-color: #e5e7eb;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    flex-grow: 1;
}
a, p {
    text-decoration: none;
    color: #e5e7eb;
}
.login, 
.signup, 
.menu {
    font-size: 18px;
    margin-left: 16px;
}
.menu-container {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}
.menu-header {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 24px;
}
.header-text {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 500px;
    height: 250px;  
}
h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight:bolder;
}
button {
    border: none;
    border-radius: 8px;
    background: #3882f6;
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    /* flex-grow: auto; */
    max-width: max-content;
    margin-top: 10px;
}
img {
    /* box-sizing: border-box;
    border: 1px #f9faf8; */
    height: 250px;
    width: 300px;
    border-radius: 10px;
}